.tab-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 450px;
  height: 30px;
  margin-top: 100px;
  color: gray;

  .tab {
    width: 150px;
    cursor: pointer;

    &.selected {
      color: black;
    }
  }
}

.tab-slider-wrapper {
  width: 450px;
  height: 2px;
  background-color: lightgray;

  .tab-slider {
    width: 150px;
    height: 2px;
    background-color: #3eb489;
    transition: ease-in, 0.4s;
  }
}
